<div class="col">
    <div class="card">
        <img src={{imageUrl}} class="card-img-top" alt="..." />
        <div class="card-body">
            <h6 class="card-title pb-2">
                {{name}}
            </h6>
            <h5 class="card-title">${{price}}</h5>
        </div>
    </div>
</div>