/* Mansheen's code */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Inika&family=Inter:wght@200;400;500;800&display=swap");

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #ffffff;
  --seconday-text-color: #000000;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--seconday-text-color);
  background-color: var(--primary-text-color);
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 3.5rem;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.9rem;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--seconday-text-color);
}

/* utility class*/
.flex {
  display: flex;
  align-items: center;
}

/* nav */

nav {
  margin: 0.1rem 5rem 0;
  display: flex;
  justify-content: space-between;
}

.navbar_links {
  gap: 60px;
  margin-top: 45px;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
}

/* drop down-logout_tab */

#myDropdown{
height: 5rem;
width: 3rem;
right: 1rem;
top: 6.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.option{
display: flex;
justify-content: space-evenly;
cursor: pointer;
}

.option_1:hover{
  background-color: rgb(197, 195, 195);

}

.option_2:hover{
  background-color: rgb(197, 195, 195);
 
}

.dropdown-content span {
  color: black;
  padding: 5px 3px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}



/* home page */
.part_1 {
  position: relative;
  top: 0;
  left: 0;
}

.wave {
  position: relative;
  top: 0;
  left: 0;
  width: 1200px;
  height: 595px;
}

.main_girl {
  position: absolute;
  right: 0px;
  width: 500px;
  height: 595px;
}

.h1 {
  position: absolute;
  padding-left: 13rem;
  padding-top: 10rem;
}

.part_2 {
  position: relative;
}

.gradient {
  position: relative;
  width: 94.9rem;
  height: 20rem;
  background: linear-gradient(150deg, #a0e2f5 10%, #effbff calc(50% + 1px));
}

.p {
  position: absolute;
  text-align: center;
  left: 30rem;
  top: 5rem;
}

.button {
  position: absolute;
  background-color: #000000;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 9rem;
  text-align: center;
  font-size: 14px;
  border-radius: 2rem;
  margin-left: 43rem;
  margin-top: 8rem;
}

/* stripes */

.stripe_1 {
  height: 11rem;
}
.white_stripe {
  position: absolute;
  margin-top: 2rem;
  border: #000000 solid 0.1rem;
  width: 1520px;
  height: 63px;
  background: #ffffff;
  transform: rotate(6deg);
  gap: 3rem;
}

.white_stripe li {
  color: #000000;
  list-style-type: none;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  padding-left: 10rem;
}
.black_stripe {
  position: absolute;
  margin-top: 2rem;
  width: 1520px;
  height: 63px;
  background: #000000;
  transform: rotate(-6deg);
  gap: 20rem;
}

.black_stripe li {
  color: #ffffff;
  list-style-type: none;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  padding-left: 10rem;
}

/* categories page */

.categories_page {
  height: 37rem;
  width: 100%;
  line-height: 100px;
  text-align: center;
}

.categories_heading {
  font-weight: 500;
}

.categories_div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;

}

.men_categories, .women_categories, .kids_categories{
cursor: pointer;
}

.categories_div img {
  width: 13rem;
  height: 13rem;
}

/* why choose us page */

.why_choose_us_page {
  background: #000;
  height: 65rem;
  width: 100%;
}

.why_choose_us_page h2 {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  line-height: 300px;
}

.why_choose_us_text_image p {
  color: #ffffff;
  line-height: 40px;
  margin-left: 8rem;
}

.why_choose_us_text_image img {
  width: 33rem;
  height: 33rem;
  margin-top: 3rem;
}

/* ABOUT US  PAGE*/

.about_us_page {
  height: 35rem;
  width: 100%;
  padding: 5rem;
}

.about_us_page h2 {
  color: #0e3671;
  font-family: "Abril Fatface", "modern-serif";
  font-weight: 200;
  font-size: 8rem;
  text-align: center;
  margin-right: 12rem;
}

.about_us_page p {
  font-family: "alice", "serif";
}

/* stripes-2 */

.stripe_2 {
  height: 9rem;
}
.white_stripe_2 {
  position: absolute;
  margin-top: 2rem;
  border: #000000 solid 0.1rem;
  width: 1520px;
  height: 63px;
  background: #ffffff;
  transform: rotate(6deg);
  gap: 3rem;
}

.white_stripe_2 li {
  list-style-type: none;
  padding-left: 8rem;
}
.black_stripe_2 {
  position: absolute;
  margin-top: 2rem;
  width: 1520px;
  height: 63px;
  background: #000000;
  transform: rotate(-6deg);
  gap: 5rem;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
  word-spacing: 4rem;
  letter-spacing: 4px;
}

/* rewaerit video */

.rewaerit_video {
  height: 50rem;
  width: 100%;
  padding: 0px 50px;
}

/* strip_3 */

.strip_3 {
  height: 11rem;
}

/* photo_wall_page */

.photo_wall_page {
  height: 60rem;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.photo_wall_page h2 {
  font-weight: 500;
}

.photo_wall_div {
  height: 50rem;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-evenly;
  gap: 5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
}

.photo_wall_div .photo_1,
.photo_2,
.photo_3,
.photo_4,
.photo_5,
.photo_6,
.photo_7,
.photo_8 {
  background-color: #000000;
  height: 18rem;
  width: 13rem;
  border-radius: 1.5rem;
}

.photo_wall_div .photo_1 img,
.photo_wall_div .photo_2 img,
.photo_wall_div .photo_3 img,
.photo_wall_div .photo_4 img,
.photo_wall_div .photo_5 img,
.photo_wall_div .photo_6 img,
.photo_wall_div .photo_7 img,
.photo_wall_div .photo_8 img {
  height: 18rem;
  width: 13rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

/* cta_page */

.cta_page {
  position: relative;
  background-color: #05152c;
  height: 35rem;
  width: 100%;
}

.cta_page h2 {
  color: #ffffff;
  height: 25rem;
  width: 25rem;
  margin-left: 14rem;
  line-height: 1.8;
  font-family: "inika", "serif";
  margin-top: 0;
}

.bg {
  position: absolute;
  right: 0;
}

.cta_page img {
  position: absolute;
  width: 550px;
  height: 650px;
  margin-bottom: 5.5rem;
}

/* footer */

footer {
  height: 18rem;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-evenly;
}

.logo_and_social_handles {
  height: 15rem;
  width: 17rem;
  text-align: center;
}

.social_handles {
  justify-content: space-evenly;
  cursor: pointer;
}

.services {
  height: 15rem;
  width: 17rem;
  text-align: center;
  margin-top: 5rem;
}

.services h4 {
  display: block;
  font-weight: 300;
  padding-top: 1.5rem;
  cursor: pointer;
}

.contact_us_footer {
  height: 15rem;
  width: 17rem;
  text-align: center;
  margin-top: 5rem;
}

.contact_us_footer h4 {
  display: block;
  font-weight: 300;
  padding-top: 1.5rem;
}

/* below footer */

.fade_effect1 {
  height: 2rem;
  width: 100%;
  display: block;
  border: none;
  color: black;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    550,
    from(#000),
    to(#fff)
  );
}

.all_rights_reserved {
  margin: 1rem;
  height: 2rem;
  color: rgb(144, 143, 143);
  text-align: center;
}
